<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <!-- Included CSS Files -->
  <%%= stylesheet_link_tag    "application" %>

  <!-- Included JS Files  -->
  <%%= javascript_include_tag "application" %>

  <%%= csrf_meta_tags %>

</head>

<body>
  <!-- Nav and Banner -->
  <div class="row">
    <div class="large-12 columns">
      <ul class="button-group">
        <li><a href="#" class="button">Link 1</a></li>
        <li><a href="#" class="button">Link 2</a></li>
        <li><a href="#" class="button">Link 3</a></li>
        <li><a href="#" class="button">Link 4</a></li>
        <li><a href="#" class="button">Link 5</a></li>
        <li><a href="#" class="button">Link 6</a></li>
        <li><a href="#" class="button">Link 7</a></li>
      </ul>
      
      <!-- Main Banner Image - place in a paragraph to enforce the modular scale spacing -->
      <p><img src="http://placehold.it/1000x400&text=[banner img]" /></p>
    </div>
  </div>
  
  <!-- End Nav and Banner -->
  
  
  <!-- Main Content Section -->
  
  <div class="row">
  
    <div class="large-8 columns">
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      <p><a href="#" class="secondary small button">Next Page &rarr;</a></p>
      <!-- It's up to you to place yield wherever you like. Feel free to edit this template -->
      <%%= yield %>
    </div>
    
    <div class="large-4 columns">
    
      <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->
      
      <ul class="small-block-grid-3">
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
      </ul>
    </div>
        
  </div>
  
  
  <!-- Call to Action Panel -->
  <div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
            <li><a href="#">Link 6</a></li>
            <li><a href="#">Link 7</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
</body>
</html>
